@inherits VGridLayoutCode

<div
    id="@ID"
    style="@Style">
    @ChildContent
</div>


@* <style type="text/css"> *@
@*     #@ID { *@
@*         background-color: @BackgroundColor; *@
@*         grid-template-rows: @Rows;         *@
@*         width: @Width; *@
@*         height: @Height; *@
@*     } *@
@* </style> *@

